* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
@media (max-width: 699px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 26px;
  }
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #666666;
  color: white;
  font-family: 'Droid Serif', Times, Times New Roman, serif;
}
a {
  color: inherit;
}
p {
  margin: 0 0 1em 0;
}
p:last-child {
  margin: 0;
}
@media (max-width: 699px) {
  .archi-header {
    margin: 0 2rem 0 0;
    padding: 1rem 0;
    border-bottom: 0.67rem solid white;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-header {
    margin: 0 2.33rem 0 0;
    padding: 1.67rem 0;
    border-bottom: 0.67rem solid white;
  }
}
@media (min-width: 1300px) {
  .archi-header {
    margin: 0 4rem 2rem 0;
    padding: 3rem 0 2rem 0;
    border-bottom: 0.67rem solid white;
  }
}
.archi-header__breadcrumbs {
  font-family: 'Droid Serif', Times, Times New Roman, serif;
  font-style: italic;
  text-decoration: none;
  display: block;
}
@media (max-width: 699px) {
  .archi-header__breadcrumbs {
    font-size: 1.33rem;
    margin: 0 0 1rem 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-header__breadcrumbs {
    font-size: 1.33rem;
    margin: 0 0 1.67rem 2.33rem;
  }
}
@media (min-width: 1300px) {
  .archi-header__breadcrumbs {
    font-size: 1.67rem;
    margin: 0 0 2rem 4rem;
  }
}
.archi-header__breadcrumbs:hover {
  text-decoration: underline;
}
.archi-header__title {
  font-family: 'Ostrich Sans';
  font-style: italic;
}
@media (max-width: 699px) {
  .archi-header__title {
    font-size: 2.67rem;
    margin: 0 0 0 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-header__title {
    font-size: 3rem;
    margin: 0 0 0 2.33rem;
  }
}
@media (min-width: 1300px) {
  .archi-header__title {
    font-size: 4rem;
    margin: 0 0 0 4rem;
  }
}
.archi-header__subtitle {
  font-weight: 400;
  font-style: italic;
  line-height: 1em;
}
@media (max-width: 699px) {
  .archi-header__subtitle {
    font-size: 1.33rem;
    margin: 1rem 0 0 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-header__subtitle {
    font-size: 1.33rem;
    margin: 1rem 0 0 2.33rem;
  }
}
@media (min-width: 1300px) {
  .archi-header__subtitle {
    font-size: 1.67rem;
    margin: 0 0 0 4rem;
  }
}
.archi-header__century {
  vertical-align: text-top;
}
@media (max-width: 699px) {
  .archi-header__century {
    font-size: 1rem;
    margin-left: 0.33rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-header__century {
    font-size: 1.33rem;
    margin-left: 0.67rem;
  }
}
@media (min-width: 1300px) {
  .archi-header__century {
    font-size: 3rem;
    margin-left: 1rem;
  }
}
.archi-feedback {
  font-family: 'Droid Serif', Times, Times New Roman, serif;
}
@media (max-width: 699px) {
  .archi-feedback {
    padding: 1rem 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-feedback {
    padding: 1.67rem 2.33rem;
  }
}
@media (min-width: 1300px) {
  .archi-feedback {
    padding: 2rem 4rem;
  }
}
.archi-map {
  width: 100%;
  position: relative;
  color: #666666;
  height: 70%;
}
.archi-map__filters {
  position: absolute;
  z-index: 10;
  font-family: sans-serif;
  font-size: 0.7rem;
  font-style: normal;
}
@media (max-width: 699px) {
  .archi-map__filters {
    top: 3.67rem;
    left: 2rem;
    background-color: #00ebbe;
    padding: 0.33rem 0.67rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-map__filters {
    width: 250px;
    top: 1.67rem;
    left: 2.33rem;
  }
}
@media (min-width: 1300px) {
  .archi-map__filters {
    width: 320px;
    top: 2rem;
    left: 4rem;
  }
}
@media (max-width: 699px) {
  .archi-map__filters.archi-map__filters--hidden {
    display: none;
  }
}
.archi-map__filters-toggle {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 10;
  background-color: #00ebbe;
  font-family: sans-serif;
  font-style: normal;
  color: white;
  font-size: 0.7rem;
  padding: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 700px) {
  .archi-map__filters-toggle {
    display: none;
  }
}
.archi-map__map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.archi-map__map .odswidget-map {
  width: 100%;
  height: 100%;
}
.archi-map__facet {
  background-color: #00ebbe;
  border-radius: 3px;
  color: white;
  padding: 0.5rem 0;
}
@media (max-width: 699px) {
  .archi-map__facet {
    margin: 0;
  }
}
@media (min-width: 700px) {
  .archi-map__facet {
    margin: 0 0 1em 0;
  }
}
.archi-map__facet-title {
  padding: 0 1rem 0.5rem 1rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid white;
}
.archi-map .odswidget-text-search {
  margin-bottom: 1em;
  padding: 0.5rem;
  background-color: #00EBBE;
}
.archi-map .odswidget-text-search__search-box {
  background-color: inherit;
  color: inherit;
  border-radius: 3px;
  border: none;
  font-size: inherit;
  padding: 0;
  border-bottom: 1px solid white;
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-map .odswidget-text-search__search-box {
    width: 205px;
  }
}
@media (min-width: 1300px) {
  .archi-map .odswidget-text-search__search-box {
    width: 270px;
  }
}
.archi-map .odswidget-text-search__form:after {
  color: white;
  line-height: normal;
  font-size: 1rem;
  top: 0;
  right: 0;
}
.archi-map .odswidget-facet {
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}
.archi-map .odswidget-facet__category-list {
  border: 0;
}
.archi-map .odswidget-facet__category {
  color: white;
  margin: 0;
  text-decoration: none;
  padding: 0 1rem;
  border: none;
  display: block;
}
.archi-map .odswidget-facet__category--refined,
.archi-map .odswidget-facet__category:hover {
  color: #666666;
}
.archi-map .odswidget-facet__category--refined:before,
.archi-map .odswidget-facet__category:hover:before {
  left: 0.2rem;
  line-height: normal;
}
.archi-map .odswidget-facet__category-name,
.archi-map .odswidget-facet__category-count {
  font-size: inherit;
  color: inherit;
}
.archi-map .odswidget-facet__category-count {
  float: right;
}
.archi-map .odswidget-facet__expansion-control {
  margin: 0;
  padding: 0.33rem 1rem 0 1rem;
  text-align: left;
}
@media (max-width: 699px) {
  .archi-map .leaflet-top.leaflet-left {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-map .leaflet-top.leaflet-left {
    top: 1.67rem;
    left: 0.67rem;
  }
}
@media (min-width: 1300px) {
  .archi-map .leaflet-top.leaflet-left {
    top: 2rem;
    left: 2rem;
  }
}
.archi-map .leaflet-control-zoom.leaflet-bar.leaflet-control {
  margin: 0;
}
.archi-map .leaflet-control-locate.leaflet-bar.leaflet-control,
.archi-map .leaflet-draw.leaflet-control {
  margin: 1rem 0 0 0;
}
@media (max-width: 699px) {
  .archi-home__intro-container {
    padding: 1rem 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-home__intro-container {
    padding: 1.67rem 2.33rem;
  }
}
@media (min-width: 1300px) {
  .archi-home__intro-container {
    padding: 2rem 4rem 3rem 4rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-home__presentation {
    text-align: justify;
    margin-right: 314px;
  }
}
@media (min-width: 1300px) {
  .archi-home__presentation {
    text-align: justify;
    margin-right: 408px;
  }
}
.archi-presentation__call-to-action {
  font-size: 1.3rem;
  font-style: italic;
  padding: 2rem 5rem;
}
.archi-home__regions {
  background-color: #00cba4;
  border-radius: 3px;
}
@media (max-width: 699px) {
  .archi-home__regions {
    margin: 0 0 1rem 0;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-home__regions {
    float: right;
    width: 270px;
  }
}
@media (min-width: 1300px) {
  .archi-home__regions {
    float: right;
    width: 330px;
  }
}
.archi-home__regions-title {
  font-family: 'Ostrich Sans';
  font-style: italic;
  border-bottom: 1px solid white;
  margin: 0;
}
@media (max-width: 699px) {
  .archi-home__regions-title {
    padding: 1.33rem 2rem 1rem 2rem;
    font-size: 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-home__regions-title {
    font-size: 1.67rem;
    padding: 1rem 1.67rem 0.67rem 1.67rem;
  }
}
@media (min-width: 1300px) {
  .archi-home__regions-title {
    padding: 1.33rem 2rem 1rem 2rem;
    font-size: 2rem;
  }
}
.archi-home__regions-list {
  margin: 0;
  list-style: none;
  font-style: italic;
}
@media (max-width: 699px) {
  .archi-home__regions-list {
    padding: 1rem 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-home__regions-list {
    padding: 0.67rem 1.67rem;
  }
}
@media (min-width: 1300px) {
  .archi-home__regions-list {
    padding: 1rem 2rem;
  }
}
.archi-home__region {
  text-decoration: none;
}
.archi-home__region:hover {
  text-decoration: underline;
}
.archi-home__regions-call-to-action {
  margin-top: 1rem;
}
.archi-non-footer {
  background-color: #00ebbe;
  margin: 0;
  padding: 0;
}
.archi-footer {
  font-size: 0.8rem;
  font-style: italic;
}
@media (max-width: 699px) {
  .archi-footer {
    padding: 1rem 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  .archi-footer {
    padding: 1.67rem 2.33rem;
  }
}
@media (min-width: 1300px) {
  .archi-footer {
    padding: 3em 4rem;
  }
}
