.archi-feedback {
    font-family: @font-family-serif;
    @media (max-width: @screen-small-max) {
        margin: 1rem 2rem;
    }
    @media (min-width: @screen-medium-min) {
        margin: 2rem 4rem;
    }
}
