.archi-header {
    margin: 3rem 4rem 2rem 0;
    border-bottom: 0.67rem solid @color-white;
    padding-bottom: 2rem;
}

.archi-header__breadcrumbs {
    font-family: @font-family-serif;
    font-style: italic;
    text-decoration: none;
    display: block;
    margin: 0 0 2rem 4rem;
    font-size: 1.67rem;
}

.archi-header__breadcrumbs:hover {
    text-decoration: underline;
}

.archi-header__title {
    font-family: @font-family-slab;
    font-style: italic;
    font-size: 4rem;
    margin: 0 0 0 4rem;
}

.archi-header__subtitle {
    font-weight: 400;
    font-style: italic;
    font-size: 1.67rem;
    margin: 0 4rem 0 4rem;
    line-height: 1em;
}

.archi-header__century {
    vertical-align: text-top;
    font-size: 3rem;
    margin-left: 1rem;
}
