.archi-header {
    padding: 5rem 5rem 2rem 5rem;
}

.archi-header__breadcrumbs {
    font-family: @font-family-serif;
    font-style: italic;
    font-size: 2rem;
    text-decoration: none;
}

.archi-header__breadcrumbs:hover {
    text-decoration: underline;
}

.archi-header__title {
    font-family: @font-family-slab;
    font-style: italic;
    font-size: 7rem;
    margin-bottom: 0;
}

.archi-header__century {
    vertical-align: text-top;
    font-size: 3rem;
    margin-left: 1rem;
}
