.archi-home__intro-container {
    @media (max-width: @screen-small-max) {
        margin: 1rem 2rem;
    }
    @media (min-width: @screen-medium-min) {
        display: flex;
        align-content: space-between;
        margin: 2rem 4rem 3rem 4rem;
    }
}
.archi-home__presentation {
    @media (min-width: @screen-medium-min) {
        text-align: justify;
    }
}

.archi-presentation__call-to-action {
    font-size: 1.3rem;
    font-style: italic;
    padding: 2rem 5rem;
}

.archi-home__regions {
    background-color: @color-primary-dark;
    border-radius: 3px;
    @media (max-width: @screen-small-max) {
        margin: 1rem 0 0 0
    }
    @media (min-width: @screen-medium-min) {
        flex: 0 1 auto;
        min-width: 320px;
        margin-left: 3rem;
    }
}
.archi-home__regions-title {
    font-family: @font-family-slab;
    font-size: 2rem;
    font-style: italic;
    padding: 1.33rem 2rem 1rem 2rem;
    border-bottom: 1px solid @color-white;
    margin: 0;
}
.archi-home__regions-list {
    margin: 0;
    list-style: none;
    padding: 1rem 2rem;
    font-style: italic;
}
.archi-home__region {
    text-decoration: none;
}
.archi-home__region:hover {
    text-decoration: underline;
}
.archi-home__regions-call-to-action {
    margin-top: 1rem;

}
