// Colors
@color-primary: #00EBBE;
@color-primary-dark: #009E7F;
@color-white: white;
@color-grey: #333;

// General
// Fonts
@font-baseSize: 16px;
@font-family-serif: Georgia, palatino, serif;
@font-family-slab: 'Ostrich Sans';
@font-family-sansSerif: sans-serif;

// Components

// Header

// Filters
@filters-width: 400px;
