.CinquanteLieuxLocationCard-link:hover {
    text-decoration: none;
}
.CinquanteLieuxLocationCard {
    padding: var(--spacing-small) var(--spacing-normal);
    border-bottom: 1px solid var(--color-darkgreen);
}

.CinquanteLieuxLocationCard:first-child {
    border-top: 1px solid var(--color-darkgreen);
}

.CinquanteLieuxLocationCard:hover {
    cursor: pointer;
    background-color: var(--color-darkgreen);
    color: white;
    transition: all 100ms ease-out;
}

.CinquanteLieuxLocationCard-title {
    margin-right: var(--spacing-tiny);
}

.CinquanteLieuxLocationCard-subtitle {
    font-size: var(--font-size-small)
}

.CinquanteLieuxLocationCard:hover .CinquanteLieuxCategoryTag {
    background-color: var(--color-darkestgreen);
    transition: background-color 100ms ease-out;
}