{% extends 'layouts/base.html' %}

{% block style %}
    <link rel="stylesheet" href="ods-widgets/ods-widgets.min.css">
    {{ super() }}
{% endblock %}

{% block header %}
    <a class="breadcrumbs" href="/index.html">
        <i class="fa fa-arrow-circle-o-left"></i>
        Architecture à la carte
    </a>

    <h1>
        {% block title %}{% endblock %}
    </h1>
{% endblock %}

{% block main %}
    {% block intro %}{% endblock %}

    <div class="map ng-cloak" ng-app="archi">
        {% block map_context %}
            <ods-dataset-context context="map,tooltip"
                                 map-domain="{{ ods_domain }}"
                                 map-dataset="{{ ods_dataset }}"
                                 map-parameters="{{ ods_parameters }}"
                                 tooltip-domain="{{ ods_domain }}"
                                 tooltip-urlsync="true"
                                 tooltip-dataset="{{ ods_dataset }}">
                <!-- filters -->

                {% block map_filters %}
                    <div class="filters">
                        <ods-text-search placeholder="Rechercher..."
                                         context="map"></ods-text-search>
                        {% block extra_map_filters %}{% endblock %}
                    </div>
                {% endblock %}

                <div class="map-tooltip-wrapper">

                    <!-- map -->

                    {% block map %}
                        <ods-map basemap="mapbox.streets"
                                 class="main-map"
                                 ng-class="{'main-map--blurry': tooltip.parameters['refine.titre']}"
                                 location="{{ map_location }}"
                                 toolbar-fullscreen="false"
                                 toolbar-geolocation="false"
                                 toolbar-drawing="false">
                        {% block map_layer %}
                            <ods-map-layer context="map"></ods-map-layer>
                        {% endblock %}
                        </ods-map>
                    {% endblock %}

                    <!-- tooltip -->

                    {% block tooltip %}
                        <div class="tooltip"
                             ng-class="{'tooltip--shown': tooltip.parameters['refine.{{ tooltip_title_field }}'] && !loading}"
                             ods-results="records"
                             ods-results-context="tooltip"
                             ods-results-max="1">
                            <div ng-repeat="record in records" class="tooltip-content">
                                <div class="tooltip-header">
                                    <h2 class="tooltip-title"
                                        ng-bind="record.fields['{{ tooltip_title_field }}']"></h2>
                                    <button class="tooltip-close"
                                            type="button"
                                            ng-click="tooltip.parameters['refine.{{ tooltip_title_field }}'] = undefined;">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div class="tooltip-body">
                                    <div class="tooltip-hero">
                                        <ods-record-image context="tooltip"
                                                          ng-if="record.fields['{{ tooltip_image_field }}']"
                                                          field="{{ tooltip_image_field }}"
                                                          record="record"
                                                          domain-url="https://{{ ods_domain }}"></ods-record-image>
                                        <ods-map basemap="mapbox.streets"
                                                 location="{% verbatim %}{{ '5,' + record.fields.coordonnees[0] + ',' + record.fields.coordonnees[1] }}{% endverbatim %}"
                                                 class="tooltip-map"
                                                 toolbar-fullscreen="false"
                                                 toolbar-geolocation="false"
                                                 scroll-wheel-zoom="false"
                                                 no-refit="true"
                                                 toolbar-drawing="false">
                                            <ods-map-layer context="tooltip"
                                                           refine-on-click-context="dummy"
                                                           picto="dot"
                                                           show-marker="false"
                                                           shape-opacity="0.5"
                                                           point-opacity="1"
                                                           border-color="#FFFFFF"
                                                           border-opacity="1"
                                                           border-size="1"
                                                           border-pattern="solid"
                                                           caption="false"></ods-map-layer>
                                        </ods-map>
                                    </div>

                                    {% if tooltip_credits_fields %}
                                        <div class="tooltip-credits">
                                            Crédits :
                                            <span ng-bind="record.fields['{{ tooltip_credits_field }}']"></span>
                                        </div>
                                    {% endif %}

                                    {% block tooltip_content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </ods-dataset-context>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="/architecturealacarte.min.js"></script>
    <script src="/ods-widgets/ods-widgets.js"></script>

    <script type="text/javascript">
        (function () {
            var archi = angular.module('archi', ['ods-widgets']);

            archi.config(function (ODSWidgetsConfigProvider, $locationProvider) {
                ODSWidgetsConfigProvider.setConfig({
                    basemaps: [{
                        "provider": "mapbox.streets",
                        "mapbox_access_token": "pk.eyJ1IjoiamVyZW15bW9yZWwiLCJhIjoiZmZjZGMxNzUwZTJjYmQ5YmIwYjAzOTFjYWNlY2ExYTAifQ.wEKnZyKpqqSzWew8QEzCtg",
                        "id": "mapbox.streets",
                        "label": "mapbox.streets"
                    }]
                });

                $locationProvider.html5Mode(true);
            });
        }());
    </script>
{% endblock %}
