<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Architecture remarquable en Pays de la Loire - Architecture à la carte - Architecture à la carte</title>
    <meta name="description" content="Une carte interactive de l'architecture remarquables des XXème et XXIème siècles en Île de
    France"/>
    <meta name="keywords" content="architecture, moderne,contemporaine, XX, XXI, Pays de la Loire, paris, yvelines, seine-et-marne,
    essonne, hauts-de-seinge, seine-saint-denis, val-de-marne, val-d'oise"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="img/favicon.png">

    
    <link rel="stylesheet" href="ods-widgets/ods-widgets.min.css">
    
        <link rel="stylesheet" href="architecturealacarte.min.css">
        <link rel="stylesheet" href="fonts/ostrich-sans/ostrich-sans.css">
        <link rel="stylesheet" href="fonts/droid-serif/droid-serif.css">
        <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">
    


    
</head>
<body>

<header>
    
    <a class="breadcrumbs" href="/index.html">
        <i class="fa fa-arrow-circle-o-left"></i>
        Architecture à la carte
    </a>

    <h1>
        
    Architecture remarquable des XX<sup>eme</sup> et XXI<sup>eme</sup> siecles en Pays de la Loire

    </h1>

</header>


    

    <div class="map ng-cloak" ng-app="archi">
        
            <ods-dataset-context context="archi"
                                 archi-urlsync="true"
                                 archi-domain="public.opendatasoft.com"
                                 archi-dataset="architecture-remarquable-pays-loire"
                                 archi-parameters="{'refine.publie': 'oui'}">
                
    <div class="filters">
        <ods-text-search placeholder="Rechercher..."
                         context="archi"></ods-text-search>

        <div class="toggle">
            <span class="toggle-title">Visitable ?</span>
            <button ng-click="archi.parameters['refine.visitable'] = 'Oui'"
                    ng-class="{'active': archi.parameters['refine.visitable'] == 'Oui'}">
                Oui
            </button>
            <button ng-click="archi.parameters['refine.visitable'] = 'Non'"
                    ng-class="{'active': archi.parameters['refine.visitable'] == 'Non'}">
                Non
            </button>
            <button ng-click="archi.parameters['refine.visitable'] = null"
                    ng-class="{'active': !archi.parameters['refine.visitable']}">
                Peu importe
            </button>
        </div>

        <div class="tags"
             ods-facet-results="items"
             ods-facet-results-context="archi"
             ods-facet-results-facet-name="architectes"
             ng-init="seeAll = false">
            <div class="tag"
                 ng-class="{'tag--active': archi.parameters['refine.architectes'] && archi.parameters['refine.architectes'].indexOf(item.name) > -1}"
                 ng-repeat="item in items"
                 ng-show="$index < 10 || seeAll"
                 ng-click="archi.toggleRefine('architectes', item.name)">
                <span ng-bind="item.name" class="tag-value"></span>
                <span ng-bind="item.count" class="tag-count"></span>
            </div>
            <button class="more-tags"
                    ng-show="items.length"
                    ng-click="seeAll = !seeAll;">
                <span ng-show="seeAll">Voir moins d'architectes</span>
                <span ng-hide="seeAll">Voir plus d'architectes</span>
            </button>
        </div>
    </div>

                
                    <ods-map basemap="mapbox.streets"
                             location="12,48.85387,2.33648"
                             toolbar-fullscreen="false"
                             toolbar-geolocation="false"
                             toolbar-drawing="false">
                        
                            <ods-map-layer context="archi"
                                           show-marker="false"
                                           picto="dot"
                                           color="#00EBBE"></ods-map-layer>
                        
                    </ods-map>
                
            </ods-dataset-context>
        
    </div>


<footer>
    
        <p>
            <a href="index.html">Architecture à la carte</a> est un projet de
            <a href="http://gabrielledesnoyers.com">Gabrielle Desnoyers</a> et
            <a href="http://hexagonal.io">Jérémy Morel</a>
            <sup><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></sup>
            rendu possible par la plateforme <a
                href="https://www.opendatasoft.com/fr/solutions-open-data/">OpenDataSoft</a>.
        </p>

        <p>
            La conception du projet et sa réalisation sont détaillées dans un
            <a href="https://www.opendatasoft.com/fr/2015/08/21/une-balade-architecturale-journees-du-patrimoine/">article
                de blog</a>. <br>
            L'intégralité du code est open source et disponible sur
            <a href="http://github.com/jmorel/architecturealacarte">
                <i class="fa fa-github"></i>
                Github
            </a>
        </p>
    
</footer>


    
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-67014751-1', 'auto');
        ga('send', 'pageview');
    </script>


    <script src="/architecturealacarte.min.js"></script>
    <script src="/ods-widgets/ods-widgets.js"></script>

    <script type="text/javascript">
        (function () {
            var archi = angular.module('archi', ['ods-widgets']);

            archi.config(function (ODSWidgetsConfigProvider, $locationProvider) {
                ODSWidgetsConfigProvider.setConfig({
                    basemaps: [{
                        "provider": "mapbox.streets",
                        "mapbox_access_token": "pk.eyJ1IjoiamVyZW15bW9yZWwiLCJhIjoiZmZjZGMxNzUwZTJjYmQ5YmIwYjAzOTFjYWNlY2ExYTAifQ.wEKnZyKpqqSzWew8QEzCtg",
                        "id": "mapbox.streets",
                        "label": "mapbox.streets"
                    }]
                });

                $locationProvider.html5Mode(true);
            });
        }());
    </script>

</body>
</html>
