.CinquanteLieux-MarkerIcon--Art {
    background-color: #F7C87E;
    border-color: var(--color-white);
}
.CinquanteLieux-MarkerIcon--Architecture {
    background-color: #00EBBE;
    border-color: var(--color-white);
}
.CinquanteLieux-MarkerIcon--Patrimoine {
    background-color: #F7AD84;
    border-color: var(--color-white);
}
.CinquanteLieux-MarkerIcon--Lifestyle {
    background-color: #619FC8;
    border-color: var(--color-white);
}
.CinquanteLieux-MarkerIcon--Jardins {
    background-color: #CB516D;
    border-color: var(--color-white);
}

.CinquanteLieuxSidebar .CloseButton {
    color: red;
}