@import "variables";

.map {
    padding: 0 0 @spacing @spacing;
    position: relative;
    color: @color-grey;
}

header + .map {
    padding-top: @spacing;
}

.filters {
    background-color: @color-primary-dark;
    display: flex;
    flex-wrap: wrap;
    padding: @spacing/2;
    color: @color-primary-darker;
}

.odswidget-map {
    width: 100%;
    height: 80vh;
}

