@import "variables";

.map {
    padding: 0 0 @spacing @spacing;
    position: relative;
    color: @color-grey;
}

.filters {
    background-color: @color-primary-dark;
    display: flex;
    flex-wrap: wrap;
    padding: @spacing/2;
}

.odswidget-map {
    width: 100%;
    height: 80vh;
}

