// Colors
@color-primary: #00EBBE;
@color-primary-dark: #00CBA4;
@color-primary-darker: #009E7F;
@color-white: white;
@color-grey: #666;
@color-grey-lightest: #F5F5F5;

// Fonts
@font-family-serif: 'Droid Serif', Times, Times New Roman, serif;
@font-family-slab: 'Ostrich Sans';

@font-size-small: 0.9rem;
@font-size-base: 1rem;

@font-size-fluid-small: ~"calc(1rem + 0.33vw)";
@font-size-fluid-base: ~"calc(1rem + 0.5vw)";
@font-size-fluid-large: ~"calc(1rem + 1vw)";
@font-size-fluid-larger: ~"calc(1rem + 2vw)";
@font-size-fluid-largest: ~"calc(1rem + 5vw)";


// Spacing
@spacing: 7vw;

