{% extends 'layouts/page.html' %}

{% block page_title %}{% endblock %}
{% block page_description %}{% endblock %}
{% block page_keywords %}{% endblock %}

{% block title %}
        Les 50 lieux en France a voir au moins une fois dans sa vie
{% endblock %}

{% block intro %}
    <div class="archi-feedback">
        Des questions, remarques ou suggestions ? <a href="mailto:contact@architecturealacarte.fr">Ecrivez-nous
        !</a>
    </div>
{% endblock %}

{% block ods_domain_url %}{% endblock %}
{% block ods_dataset_id %}{% endblock %}
{% block map_filters %}{% endblock %}
