{% extends 'layouts/page.html' %}

{% block page_title %}{% endblock %}
{% block page_description %}{% endblock %}
{% block page_keywords %}{% endblock %}

{% block title %}
    Les 50 lieux en France a voir au moins une fois dans sa vie
{% endblock %}

{% block intro %}
    <div class="archi-feedback">
        Des questions, remarques ou suggestions ? <a href="mailto:contact@architecturealacarte.fr">Ecrivez-nous
        !</a>
    </div>
{% endblock %}

{% block ods_domain_url %}jmorel.opendatasoft.com{% endblock %}
{% block ods_dataset_id %}50-lieux-en-france-a-voir-au-moins-une-fois-dans-sa-vie{% endblock %}
{% block map_filters %}{% endblock %}

{% block map_layer %}
    <ods-map-layer context="archi"
                   color-categories="{'Architecture':'#00EBBE','Lifestyle':'#619FC8','Art':'#F7C87E','Jardins et sites':'#CB516D','Patrimoine':'#F7AD84'}"
                   color-by-field="categorie"
                   color-categories-other="#C32D1C"
                   picto="ods-circle"
                   show-marker="true"
                   display="categories"
                   shape-opacity="0.5"
                   point-opacity="1"
                   border-color="#FFFFFF"
                   border-opacity="1"
                   border-size="1"
                   border-pattern="solid"
                   caption="true"
                   title="50 lieux en France à voir au moins une fois dans sa vie"
                   description="Ce guide des 50 lieux en France à voir au moins une fois dans sa vie a été écrit par les revues AD et Vanity Fair pour leurs numéro de juin 2017."></ods-map-layer>
{% endblock %}
