{% extends 'layouts/page.html' %}

{% block page_title %}50 lieux en France à voir au moins une fois dans sa vie{% endblock %}

{% block title %}
    Les 50 lieux en France a voir au moins une fois dans sa vie
{% endblock %}

{% block intro %}
    <div class="archi-feedback">
        Cette sélection a été composée par les revues <a href="http://www.admagazine.fr/architecture/balade/diaporama/les-50-lieux-en-france-a-voir-au-moins-une-fois-dans-sa-vie/43560">AD</a>
        et <a href="http://www.vanityfair.fr/">Vanity Fair</a> en supplément de leurs numéros de juin 2017.
    </div>
{% endblock %}

{% block ods_domain_url %}jmorel.opendatasoft.com{% endblock %}
{% block ods_dataset_id %}50-lieux-en-france-a-voir-au-moins-une-fois-dans-sa-vie{% endblock %}

{% block map_filters %}
    <div class="filters">
        <ods-text-search placeholder="Rechercher..."
                         context="archi"></ods-text-search>

        <div class="tags"
             ods-facet-results="items"
             ods-facet-results-context="archi"
             ods-facet-results-facet-name="categorie"
             ng-init="seeAll = false; colors = {'Architecture':'#00EBBE','Lifestyle':'#619FC8','Art':'#F7C87E','Jardins et sites':'#CB516D','Patrimoine':'#F7AD84'}">
            <div class="tag"
                 ng-class="{'tag--active': archi.parameters['refine.categorie'] && archi.parameters['refine.categorie'].indexOf(item.name) > -1}"
                 ng-repeat="item in items"
                 ng-click="archi.toggleRefine('categorie', item.name)">
                <span class="tag-color" style="background-color: {% verbatim %}{{ colors[item.name] }}{% endverbatim %}"></span>
                <span ng-bind="item.name" class="tag-value"></span>
                <span ng-bind="item.count" class="tag-count"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block map_layer %}
    <ods-map-layer context="archi"
                   color-categories="{'Architecture':'#00EBBE','Lifestyle':'#619FC8','Art':'#F7C87E','Jardins et sites':'#CB516D','Patrimoine':'#F7AD84'}"
                   color-by-field="categorie"
                   color-categories-other="#C32D1C"
                   picto="dot"
                   show-marker="false"
                   display="categories"
                   shape-opacity="0.5"
                   point-opacity="1"
                   border-color="#FFFFFF"
                   border-opacity="1"
                   border-size="1"
                   border-pattern="solid"
                   caption="false"
                   title="50 lieux en France à voir au moins une fois dans sa vie"
                   description="Ce guide des 50 lieux en France à voir au moins une fois dans sa vie a été écrit par les revues AD et Vanity Fair pour leurs numéro de juin 2017."></ods-map-layer>
{% endblock %}
