{% extends 'layouts/page.html' %}

{# Variables #}

{% set base_href='/ete-archi.html' %}

{% set ods_domain = 'jmorel.opendatasoft.com' %}
{% set ods_dataset = 'ete-archi' %}
{% set ods_parameters = '' %}

{% set tooltip_title_field = 'titre' %}
{% set tooltip_image_field = 'image' %}
{% set tooltip_credits_field = 'credits_image' %}

{# Header #}

{% block page_title %}50 lieux en France à voir au moins une fois dans sa vie{% endblock %}

{% block title %}
    L'ete archi de David Abittan
{% endblock %}

{% block intro %}
    <div class="archi-feedback">
        Durant l’été, <a href="https://twitter.com/david_abittan">David Abittan<sup><i class="fa fa-twitter"></i></sup></a>
        nous emmène chaque semaine sur <a href="https://www.franceinter.fr/emissions/l-ete-archi">France Inter</a> à la
        découverte de toutes les époques de l’architecture de France.
    </div>
{% endblock %}

{# Map #}

{% block map_layer %}
    <ods-map-layer context="map"
                   refine-on-click-context="tooltip"
                   refine-on-click-tooltip-map-field="titre"
                   refine-on-click-tooltip-context-field="titre"
                   picto="dot"
                   color="#00EBBE"
                   border-color="#FFFFFF"
                   show-marker="false"
                   shape-opacity="0.5"
                   point-opacity="1"
                   border-opacity="1"
                   border-size="1"
                   border-pattern="solid"
                   caption="false"
                   title="L'été archi de David Abittan"
                   description="Durant l’été, David Abittan nous emmène chaque semaine à la découverte de toutes les époques de l’architecture de France."></ods-map-layer>
{% endblock %}

{# Tooltip #}

{% block tooltip_content %}
    {% verbatim %}
    <p>
        <a href="{{ record.fields.page_web }}">Episode du {{ record.fields.date }}</a>
    </p>
    <p>
        {{ record.fields.description }}
    </p>
    <p>
        <a href="{{ record.fields.podcast }}" target="_blank">
            <i class="fa fa-play-circle"></i> Ecouter l'épisode
        </a>
    </p>
    {% endverbatim %}
{% endblock %}
