{% extends 'layouts/page.html' %}

{% block page_title %}Le Génie des lieux{% endblock %}

{% block title %}
    Le Genie des lieux
{% endblock %}

{% block intro %}
    <div class="archi-feedback">
        Durant l'été, <a href="https://twitter.com/camille_juza">Camille Juza</a> et
        <a href="https://fr.wikipedia.org/wiki/Julien_Donada">Julien Donada</a> nous emmènent sur
        <a href="https://www.franceculture.fr/emissions/le-genie-des-lieux">France Culture</a> arpenter des lieux qui
        ont marqué l'histoire de l'architecture. 8 semaines, 8 réponses de l'architecture à cette question : comment
        faire un lieu pour rassembler les gens ?
    </div>
{% endblock %}

{% block ods_domain_url %}jmorel.opendatasoft.com{% endblock %}
{% block ods_dataset_id %}le-genie-des-lieux{% endblock %}

{% block map_filters %}
    <div class="filters">
        <ods-text-search placeholder="Rechercher..."
                         context="archi"></ods-text-search>

        <div class="tags"
             ods-facet-results="items"
             ods-facet-results-context="archi"
             ods-facet-results-facet-name="saison"
             ng-init="colors = {'2016':'#F7AD84','2017':'#00cba4'};">
            <span class="tags-title">Saison :</span>
            <div class="tag"
                 ng-class="{'tag--active': archi.parameters['refine.saison'] && archi.parameters['refine.saison'].indexOf(item.name) > -1}"
                 ng-repeat="item in items"
                 ng-click="archi.toggleRefine('saison', item.name)">
                <span ng-bind="item.name" class="tag-value"></span>
                <span class="tag-color"
                      style="background-color: {% verbatim %}{{ colors[item.name] }}{% endverbatim %}"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block map_location %}6,46.36967,2.71362{% endblock %}

{% block map_layer %}
    <ods-map-layer context="archi"
                   picto="dot"
                   show-marker="false"
                   shape-opacity="0.5"
                   point-opacity="1"
                   border-color="#FFFFFF"
                   border-opacity="1"
                   border-size="1"
                   border-pattern="solid"
                   color-categories="{'2016':'#F7AD84','2017':'#00cba4'}"
                   color-by-field="saison"
                   color-categories-other="#6D7A87"
                   caption="false"
                   title="Le Génie des lieux"
                   description="Durant l'été, Camille Juza et Julien Donada nous emmènent sur France Culture arpenter des lieux qui ont marqué l'histoire de l'architecture. 8 semaines, 8 réponses de l'architecture à cette question : comment faire un lieu pour rassembler les gens ?">
        {% verbatim %}
            <h2 style="text-align: left; font-style: normal">
                {{ record.fields.titre }}
            </h2>
            <p>

                <ods-record-image context="archi"
                                  field="image"
                                  record="record"
                                  domain-url="https://jmorel.opendatasoft.com"></ods-record-image>
                <br>
                <span style="font-style: italic">{{ record.fields.credits_image }}</span>
            </p>
            <p>
                <a href="{{ record.fields.page_web }}">Episode du {{ record.fields.date }}</a>
            </p>
            <p>
                {{ record.fields.description }}
            </p>
            <p>
                <a href="{{ record.fields.podcast }}" target="_blank">
                    <i class="fa fa-play-circle"></i> Ecouter l'épisode
                </a>
            </p>
        {% endverbatim %}
    </ods-map-layer>
{% endblock %}
