{% extends 'layouts/page.html' %}

{# Variables #}

{% set base_href='/ile-de-france.html' %}

{% set ods_domain = 'public.opendatasoft.com' %}
{% set ods_dataset = 'architecture-remarquable-idf' %}
{% set ods_parameters = "{'refine.publie': 'oui'}" %}

{% set map_location = '12,48.85387,2.33648' %}

{% set tooltip_title_field = 'titre' %}
{% set tooltip_image_field = 'image' %}
{% set tooltip_credits_field = 'credits_image' %}

{# Header #}

{% block page_title %}Architecture remarquable en Île de France - Architecture à la carte{% endblock %}
{% block page_description %}Une carte interactive de l'architecture remarquables des XXème et XXIème siècles en Île de
    France{% endblock %}
{% block page_keywords %}architecture, moderne,contemporaine, XX, XXI, ile de france, paris, yvelines, seine-et-marne,
    essonne, hauts-de-seinge, seine-saint-denis, val-de-marne, val-d'oise{% endblock %}

{% block title %}
    Architecture remarquable des XX<sup>eme</sup> et XXI<sup>eme</sup> siecles en Ile de France
{% endblock %}

{# Filters #}

{% block extra_map_filters %}
    <div class="toggle">
        <span class="toggle-title">Visitable ?</span>
        <button ng-click="map.parameters['refine.visitable'] = 'Oui'"
                ng-class="{'active': map.parameters['refine.visitable'] == 'Oui'}">
            Oui
        </button>
        <button ng-click="map.parameters['refine.visitable'] = 'Non'"
                ng-class="{'active': map.parameters['refine.visitable'] == 'Non'}">
            Non
        </button>
        <button ng-click="map.parameters['refine.visitable'] = null"
                ng-class="{'active': !map.parameters['refine.visitable']}">
            Peu importe
        </button>
    </div>

    <div class="tags"
         ods-facet-results="items"
         ods-facet-results-context="map"
         ods-facet-results-facet-name="architectes"
         ng-init="seeAll = false">
        <div class="tag"
             ng-class="{'tag--active': map.parameters['refine.architectes'] && map.parameters['refine.architectes'].indexOf(item.name) > -1}"
             ng-repeat="item in items"
             ng-show="$index < 10 || seeAll"
             ng-click="map.toggleRefine('architectes', item.name)">
            <span ng-bind="item.name" class="tag-value"></span>
            <span ng-bind="item.count" class="tag-count"></span>
        </div>
        <button class="more-tags"
                ng-show="items.length"
                ng-click="seeAll = !seeAll;">
            <span ng-show="seeAll">Voir moins d'architectes</span>
            <span ng-hide="seeAll">Voir plus d'architectes</span>
        </button>
    </div>
{% endblock %}

{% block tooltip %}{% endblock %}
