{% extends 'layouts/base.html' %}

{% block page_title %}Architecture à la carte{% endblock %}
{% block page_description %}
    Un catalogue interactif de l'architecture remarquable des 20ème et 21ème siècles en France
{% endblock %}
{% block page_keywords %}
    architecture, moderne, contemporaine, france, architectes, le corbusier, jeannouvel, jean prouvé
{% endblock %}

{% block header %}
    <h1>
        Architecture a la carte
    </h1>

    <h2>
        Architecture remarquable des XX<sup>ème</sup> et XXI<sup>ème</sup> siecles en France
    </h2>
{% endblock %}

{% block main %}
    <nav>
        <div class="nav-sections">
            {% for section in sections %}
                <div class="nav-section">
                    <h3>{{ section.name }}</h3>
                </div>
            {% endfor %}
        </div>
        <div class="nav-sections">
            {% for section in sections %}
                <div class="nav-section">
                    <ul>
                        {% for page in section.pages %}
                            <li>
                                <a href="{{ page.url }}">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    {{ page.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </nav>

    <main>
        <p>
            <a href="#">Architecture à la Carte</a> est un catalogue interactif, un outil de découverte du
            patrimoine architectural français.
            Convivial et ludique, ce n'est pas une alternative aux listes exhaustives des Monuments Nationaux et
            Monuments historiques mais plutôt un compagnon à ces bases de données austères.
        </p>

        <p>
            Ce site est compatible avec tous les appareils mobiles, n'hésitez pas à l'utiliser pendant vos balades !
        </p>

        <p>
            Le projet vous plait ? Vous voulez y participer ? Vous voulez documenter l'architecture moderne et
            contemporaine
            dans votre région ?
        </p>

        <p>
            <a href="mailto:contact@architecturealacarte.fr">
                <i class="fa fa-arrow-circle-o-right"></i>
                Envoyez-nous un email !
            </a>
        </p>
    </main>
{% endblock %}
