{% extends 'layouts/page.html' %}

{# Variables #}

{% set base_href='/journees-du-patrimoine-2016.html' %}

{% set ods_domain = 'public.opendatasoft.com' %}
{% set ods_dataset = 'jep_2016_ministculture%40datainfolocale' %}

{# Header #}

{% block page_title %}Journées du patrimoine 2016{% endblock %}
{% block page_description %}Une carte interactive des visites possibles durant les journées du patrimoine
    2016.{% endblock %}
{% block page_keywords %}architecture, france, journées du patrimoine, visite{% endblock %}

{% block title %}
    Journees du patrimoine 2016
{% endblock %}

{% block intro %}
    <main>
        <p>
            Cette carte a pu être réalisée grâce au
            <a href="https://data.opendatasoft.com/explore/dataset/jep_2016_ministculture%40datainfolocale/">jeu de donnée libre et ouvert</a>
            publié par les <a href="http://journeesdupatrimoine.culturecommunication.gouv.fr">Journées du Patrimoine</a>
            et retravaillé par <a href="http://datainfolocale.opendatasoft.com/page/home/">Info locale</a>.
        </p>
    </main>
{% endblock %}

{# Filters #}

{% block extra_map_filters %}
    <div class="tags"
         ods-facet-results="items"
         ods-facet-results-context="map"
         ods-facet-results-facet-name="type_d_evenement"
         ng-init="seeAll = false">
        <div class="tag"
             ng-class="{'tag--active': map.parameters['refine.type_d_evenement'] && map.parameters['refine.type_d_evenement'].indexOf(item.name) > -1}"
             ng-repeat="item in items"
             ng-show="$index < 10 || seeAll"
             ng-click="map.toggleRefine('type_d_evenement', item.name)">
            <span ng-bind="item.name" class="tag-value"></span>
            <span ng-bind="item.count" class="tag-count"></span>
        </div>
        <button class="more-tags"
                ng-click="seeAll = !seeAll;">
            <span ng-show="seeAll">Voir moins de catégories</span>
            <span ng-hide="seeAll">Voir plus de catégories</span>
        </button>
    </div>
{% endblock %}

{# Tooltip #}

{% block tooltip %}{% endblock %}

