{% extends 'layouts/page.html' %}

{% block page_title %}Journées du patrimoine 2016{% endblock %}
{% block page_description %}Une carte interactive des visites possibles durant les journées du patrimoine
    2016.{% endblock %}
{% block page_keywords %}architecture, france, journées du patrimoine, visite{% endblock %}

{% block title %}
    Journees du patrimoine 2016
{% endblock %}

{% block intro %}
    <div class="archi-feedback">
        <p>
            Cette carte a pu être réalisée grâce au
            <a href="https://data.opendatasoft.com/explore/dataset/jep_2016_ministculture%40datainfolocale/">jeu de
                donnée libre et ouvert</a>
            publié par les <a href="http://journeesdupatrimoine.culturecommunication.gouv.fr">Journées du Patrimoine</a>
            et retravaillé par
            <a href="http://datainfolocale.opendatasoft.com/page/home/">Info locale</a>.
        </p>
        <p>
            Des questions, remarques ou suggestions ? <a href="mailto:contact@architecturealacarte.fr">Ecrivez-nous
            !</a>
        </p>
    </div>
{% endblock %}

{% block ods_domain_url %}public.opendatasoft.com{% endblock %}
{% block ods_dataset_id %}jep_2016_ministculture%40datainfolocale{% endblock %}

{% block content %}
    <div class="archi-map" ng-app="ods-widgets">
        <ods-dataset-context context="archi"
                             archi-domain=""
                             archi-dataset="">
            <div class="archi-map__filters-toggle" ng-click="filtersHidden=!filtersHidden" ng-init="filtersHidden=true">
                <span ng-show="filtersHidden">Filtres</span>
                <span ng-hide="filtersHidden">Cacher les filtres</span>
            </div>
            <div class="archi-map__filters" ng-class="{'archi-map__filters--hidden': filtersHidden}">
                <ods-text-search placeholder="Rechercher..."
                                 context="archi"></ods-text-search>

                <div class="archi-map__facet">
                    <h3 class="archi-map__facet-title">
                        Informations
                    </h3>
                    <ods-facets context="archi">
                        <ods-facet name="type_d_evenement" value-search="true"></ods-facet>
                    </ods-facets>
                </div>

            </div>
            <div class="archi-map__map">
                <ods-map basemap="mapbox.high-contrast"
                         toolbar-fullscreen="false">
                    <ods-map-layer context="archi"
                                   show-marker="false"
                                   picto="dot"
                                   color="#00EBBE"></ods-map-layer>
                </ods-map>
            </div>
        </ods-dataset-context>
    </div>
{% endblock %}

