{% extends 'layouts/page.html' %}

{% block page_title %}Journées du patrimoine 2015{% endblock %}
{% block page_description %}Une carte interactive des visites possibles durant les journées du patrimoine
    2015.{% endblock %}
{% block page_keywords %}architecture, france, journées du patrimoine, visite{% endblock %}

{% block title %}
    Journees du patrimoine 2015
{% endblock %}

{% block intro %}
    <main>
        <p>
            Cette carte a pu être réalisée grâce au
            <a href="http://public.opendatasoft.com/explore/dataset/jep2015/">jeu de donnée libre et ouvert</a>
            publié par les <a href="http://journeesdupatrimoine.culturecommunication.gouv.fr">Journées du Patrimoine</a>.
        </p>
    </main>
{% endblock %}

{% block ods_domain_url %}public.opendatasoft.com{% endblock %}
{% block ods_dataset_id %}jep2015{% endblock %}

{% block map_filters %}
    <div class="filters">
        <ods-text-search placeholder="Rechercher..."
                         context="archi"></ods-text-search>

        <div class="tags"
             ods-facet-results="items"
             ods-facet-results-context="archi"
             ods-facet-results-facet-name="keywords"
             ng-init="seeAll = false">
            <div class="tag"
                 ng-class="{'tag--active': archi.parameters['refine.keywords'] && archi.parameters['refine.keywords'].indexOf(item.name) > -1}"
                 ng-repeat="item in items"
                 ng-show="$index < 10 || seeAll"
                 ng-click="archi.toggleRefine('keywords', item.name)">
                <span ng-bind="item.name" class="tag-value"></span>
                <span ng-bind="item.count" class="tag-count"></span>
            </div>
            <button class="more-tags"
                    ng-click="seeAll = !seeAll;">
                <span ng-show="seeAll">Voir moins de catégories</span>
                <span ng-hide="seeAll">Voir plus de catégories</span>
            </button>
        </div>
    </div>
{% endblock %}
