.Header {
    border-bottom: 15px solid var(--color-white);
    font-style: italic;
    position: relative;
}

.Header.--padding-top {
    padding-top: var(--spacing-normal);
}
.Header.--padding-bottom {
    padding-bottom: var(--spacing-normal);
}

/* Typography */

.Header h1 {
    color: var(--color-white);
    margin: 0 var(--spacing-normal);
    font-family: var(--font-family-headings);
    font-size: var(--font-size-headings);
    font-weight: normal;
    line-height: 70px;
}

.Header h2 {
    color: var(--color-white);
    margin: 0 var(--spacing-normal);
    font-family: var(--font-family-headings);
    font-size: var(--font-size-headings);
    font-weight: normal;
    line-height: 70px;
}

.Header h3 {
    color: var(--color-white);
    margin: var(--spacing-normal) var(--spacing-normal) var(--spacing-small) var(--spacing-normal);
    font-size: var(--font-size-homelink);
    font-style: normal;
    font-weight: normal;
}

.Header p {
    margin: var(--spacing-small) var(--spacing-normal);
    color: var(--color-darkestgreen);
    font-style: italic;
}

.Header a {
    color: var(--color-darkestgreen);
    font-size: var(--font-size-homelink)
}


/* Hero */

.Header img {
    width: 100%;
}

/* Close button */

.Header .CloseButton {
    position: absolute;
    top: var(--spacing-small);
    right: var(--spacing-small);
    font-size: 40px;
    border: none;
    padding: 0;
    color: var(--color-green);
    background: none;
    cursor: pointer;
}

.Header .CloseButton:hover {
    color: var(--color-white);
}

/* Other */

.Header .fa-arrow-alt-circle-left {
    margin-right: var(--spacing-tiny);
}
