@import '../variables.scss';
.PageLayout {
    @media (max-width: $breakpoint-low) {}
    @media (min-width: $breakpoint-high) {
        display: flex;
        min-height: 100vh;
    }
}

.PageLayout .Sidebar {
    @media (max-width: $breakpoint-low) {}
    @media (min-width: $breakpoint-high) {
        height: 100vh;
        overflow-y: auto;
        width: $sidebar-width;
    }
}

.PageLayout-mapContainer {
    position: relative;
    @media (max-width: $breakpoint-low) {}
    @media (min-width: $breakpoint-high) {
        width: calc(100vw - #{$sidebar-width});
        height: 100vh;
    }
}