.PageLayout {
    display: flex;
    min-height: 100vh;
  }

  .PageLayout .Sidebar {
    height: 100vh;
    overflow-y: auto;
  }

  .PageLayout .PaginatedCardList {
    margin: var(--spacing-normal) 0;
  }

  .PageLayout-mapContainer {
    flex-grow: 1;
    position: relative;
  }
