.Sidebar {
  width: var(--sidebar-width);
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Sidebar-content {
  color: var(--color-darkestgreen);
}

.Sidebar-content p {
  margin: var(--spacing-normal);
}

.Sidebar-filters {
  margin: var(--spacing-normal);
}

.Sidebar-Filter {
  margin-bottom: var(--spacing-small)
}

.Sidebar .Footer {
  margin-top: auto;
}