@import '../variables.scss';
.TableOfContents {
    font-style: italic;
    position: relative;
    @media (max-width: $breakpoint-low) {
        margin: $spacing-mobile-normal;
        margin-bottom: 0;
        font-size: $fontSize-mobile-subheadings;
        line-height: 1;
    }
    @media (min-width: $breakpoint-high) {
        padding: $spacing-large;
        font-size: $fontSize-subheadings;
    }
}

@media (min-width: $breakpoint-high) {
    .TableOfContents::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $color-green;
        opacity: 0.7;
    }
}

.TableOfContents-section {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin: 0;
    @media (max-width: $breakpoint-low) {
        padding-top: $spacing-mobile-small + 10px;
        margin-bottom: $spacing-mobile-normal;
    }
    @media (min-width: $breakpoint-high) {
        padding-top: $spacing-small + 10px;
        margin-bottom: $spacing-large;
    }
}

.TableOfContents-section:last-child {
    margin-bottom: 0;
}

.TableOfContents-section::before {
    content: '';
    display: block;
    width: 100px;
    height: 10px;
    background-color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
}

.TableOfContents a {
    color: $color-white;
}