.TextSearch {
    display: flex;
}

.TextSearch input {
    flex-grow: 1;
    font-size: var(--font-size-body);
    border: none;
    border-top-left-radius: var(--spacing-normal);
    border-bottom-left-radius: var(--spacing-normal);
    padding-left: var(--spacing-small);
    color: var(--color-grey);
}

.TextSearch button {
    background-color: var(--color-white);
    font-size: var(--font-size-body);
    border: none;
    padding: var(--spacing-tiny);
    padding-right: var(--spacing-small);
    border-top-right-radius: var(--spacing-normal);
    border-bottom-right-radius: var(--spacing-normal);
}