:root {
  --sidebar-width: 480px;
  --spacing-tiny: 10px;
  --spacing-small: 20px;
  --spacing-normal: 50px;
  --spacing-large: 100px;

  /* colors */
  --color-white: #ffffff;
  --color-green: #27EABF;
  --color-darkgreen: #20CAA4;
  --color-darkestgreen: #179D7F;
  --color-grey: #9B9B9B;

  /* font family */
  --font-family-headings: 'Ostrich Sans Inline', sans-serif;
  --font-family-body: 'Droid Serif', Georgia, serif;

  /* font sizes */
  --font-size-headings: 90px;
  --font-size-subheadings: 30px;
  --font-size-homelink: 24px;
  --font-size-body: 20px;
  --font-size-small: 14px;

  /* z indices */
  --zIndex-1: 100;
  --zIndex-2: 200;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-white);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* Map */

.leaflet-container {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  bottom: 0;
  top: 0;
}

.MarkerIcon,
.CollapsedMarkerIcon {
  background-color: var(--color-darkestgreen);
  border-style: solid;
  border-color: var(--color-green);
  overflow: hidden;
  border-radius: 50px;
  transition: all 300ms ease-out;
}

.CollapsedMarkerIcon:not(:hover) {
  border-width: 2px;
  width: 12px !important;
  height: 12px !important;
  margin-left: -6px !important;
  margin-top: -6px !important;
}

.MarkerIcon,
.CollapsedMarkerIcon:hover {
  border-width: 4px;
}


.MarkerIcon img,
.CollapsedMarkerIcon img {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.CollapsedMarkerIcon:not(:hover) img {
  opacity: 0;
}
