@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif'), local('DroidSerif'), url('droidserif-webfont.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('droidserif-italic-webfont.woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('droidserif-bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url('droidserif-bolditalic-webfont.woff');
    font-weight: 700;
    font-style: italic;
}
